<div class="footer">
  <div class="footer-box">
    <div class="footer-box-top">
      <div>
        <i class="bi bi-coin"></i>
        <h3><a href="#">价格亲民</a></h3>
      </div>
      <div>
        <i class="bi bi-ev-front"></i>
        <h3><a href="#">物流快捷</a></h3>
      </div>
      <div>
        <i class="bi bi-box2-heart"></i>
        <h3><a href="#">品质新鲜</a></h3>
      </div>
      <div>
        <i class="bi bi-shop-window"></i>
        <h3><a href="#">售后无忧</a></h3>
      </div>
    </div>
    <div class="footer-box-message">
      <div class="footer-box-message-table">
        <div class="table-content">
          <!-- 购物指南 -->
          <div class="table-column">
            <div class="column-title">购物指南</div>
            <ul class="service-list">
              <li><a href="#">购物流程</a></li>
              <li><a href="#">支付方式</a></li>
              <li><a href="#">售后规则</a></li>
            </ul>
          </div>

          <!-- 配送方式 -->
          <div class="table-column">
            <div class="column-title">配送方式</div>
            <ul class="service-list">
              <li><a href="#">配送运费</a></li>
              <li><a href="#">配送范围</a></li>
              <li><a href="#">配送时间</a></li>
            </ul>
          </div>

          <!-- 关于我们 -->
          <div class="table-column">
            <div class="column-title">关于我们</div>
            <ul class="service-list">
              <li><a href="#">平台规则</a></li>
              <li><a href="#">联系我们</a></li>
              <li><a href="#">问题反馈</a></li>
            </ul>
          </div>

          <!-- 售后服务 -->
          <div class="table-column">
            <div class="column-title">售后服务</div>
            <ul class="service-list">
              <li><a href="#">售后政策</a></li>
              <li><a href="#">退款说明</a></li>
              <li><a href="#">取消订单</a></li>
            </ul>
          </div>

          <!-- 服务热线 -->
          <div class="table-column">
            <div class="column-title">服务热线</div>
            <ul class="service-list">
              <li><a href="#">在线客服&nbsp;<i class="bi bi-headphones"></i></a></li>
              <li><a href="#">客服电话&nbsp;252-1695-0619</a></li>
              <li><a href="#">工作时间&nbsp;周一至周日&nbsp;8:00-18:00</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-box-message-img">
        <div>
          <img src="static/img/wechat.png" alt="">
          <p>微信客服</p>
        </div>
        <div>
          <img src="static/img/wechat1.png" alt="">
          <p>欢迎赞赏</p>
        </div>
      </div>
    </div>
    <div class="footer-box-buttom">
      <a href="#">关于我们</a>
      <span>|</span>
      <a href="#">帮助中心</a>
      <span>|</span>
      <a href="#">售后服务</a>
      <span>|</span>
      <a href="#">配送与验收</a>
      <span>|</span>
      <a href="#">商务合作</a>
      <span>|</span>
      <a href="#">搜索推荐</a>
      <a class="CopyRight" href="#">@CopyRight © 小兔鲜</a>
    </div>
  </div>
</div>

<style>
  .footer {
    width: 100%;
    background-color: #F1F1F1;
    min-width: 1200px;
    /* 添加这一行 */
  }

  .footer-box {
    width: 86%;
    height: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding: 20px 0;
    min-width: 1000px;
    /* 添加这一行 */
  }

  .footer-box-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
    border-bottom: 2px solid #e7e7e7;
    width: 100%;
    margin-top: 4%;
  }

  .footer-box-top div {
    display: flex;
    align-items: center;
    /* 垂直居中 */
    height: 60px;
    /* 必须设置高度 */
  }

  .footer-box-top h3 {
    display: inline-block;
    margin: 0 0 0 10px;
  }

  .footer-box-top a {
    text-decoration: none;
    color: #333333;
  }

  .footer-box i {
    color: #6BBFAE;
    font-size: 60px;
  }

  /* ----------------------------------------- */

  .footer-box-message {
    display: flex;
    margin-top: 6%;
  }

  .footer-box-message-table {
    width: 75%;
  }

  .column-title {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 20px;
  }

  .table-content {
    display: flex;
  }

  .table-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .service-list li {
    margin-bottom: 15px;
  }

  .table-content a {
    text-decoration: none;
    color: #969696;
    font-size: 16px;
  }

  .table-content i {
    color: #70AC97;
    font-size: 16px;
  }

  .table-column {
    margin-right: 9%;
    flex-shrink: 0;
    /* 添加这一行，禁止列缩小 */
  }

  .footer-box-message-img {
    width: 25%;
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-between;
  }

  .footer-box-message-img p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #969696;
  }

  .footer-box-message-img img {
    border: 1px solid #DADADA;
    padding: 3px;
    /* 向外扩展2px */
    background: white;
    /* 扩展部分的颜色 */
  }

  /* ----------------------------------------- */

  .footer-box-buttom {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 16px;
    color: #969696;
  }

  .footer-box-buttom a {
    text-decoration: none;
    color: #969696;
    margin: 0 8px;
  }

  .CopyRight {
    padding-top: 1%;
    display: block;
  }
</style>