<div class="main">
  <div class="main-div">
    <div class="main-first-div">
      <ul class="main-ul">
        <li>
          <a href="#" style="font-weight: 500;">
            生鲜水果
          </a>
          &nbsp;&nbsp;
          <a href="#">水果&nbsp;蔬菜</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            美食推荐
          </a>
          &nbsp;&nbsp;
          <a href="#">面包&nbsp;干果</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            数码电子
          </a>
          &nbsp;&nbsp;
          <a href="#">手机&nbsp;电脑</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            家庭电器
          </a>
          &nbsp;&nbsp;
          <a href="#">电视&nbsp;冰箱</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            厨房用品
          </a>
          &nbsp;&nbsp;
          <a href="#">厨房电器&nbsp;餐具</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            居家生活
          </a>
          &nbsp;&nbsp;
          <a href="#">床品&nbsp;四件套&nbsp;被枕</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            洗护美妆
          </a>
          &nbsp;&nbsp;
          <a href="#">洗发&nbsp;洁面&nbsp;美妆</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            孕婴用品
          </a>
          &nbsp;&nbsp;
          <a href="#">奶粉&nbsp;玩具&nbsp;服装</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            服饰穿搭
          </a>
          &nbsp;&nbsp;
          <a href="#">女装&nbsp;男装</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
        <li>
          <a href="#" style="font-weight: 500;">
            日用杂货
          </a>
          &nbsp;&nbsp;
          <a href="#">户外&nbsp;图书</a>
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </li>
      </ul>
    </div>
    <div class="main-second-div">
      <img src="static/img/banner1.png" alt="轮播图">
    </div>
  </div>
</div>

<style>
  .main {
    width: 100%;
    background-color: #F5F5F5;
  }

  .main-div {
    display: flex;
    width: 86%;
    margin: auto;
  }

  .main-first-div {
    background-color: #626262;
    min-width: 220px;
    flex: 1;
  }

  .main-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .main-ul li {
    height: 50px;
    line-height: 50px;
    display: flex;
  }

  .main-ul a {
    text-decoration: none;
    color: white;
    font-weight: 100;
  }

  .main-ul li a:nth-of-type(2) {
    margin-left: 20px;
  }

  .main-ul li a:nth-of-type(3) {
    margin-left: auto;
  }
</style>